{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Question{% endtrans %}</h1>

    {{ include('question/_form.html.twig') }}

    <button class="btn"><a href="{{ path('question_index') }}">{% trans %}back to list{% endtrans %}</a></button>
{% endblock %}
