{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Category{% endtrans %}</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('category_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}
